.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.formContainer {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.label {
  margin-bottom: 10px;
  display: block;
}

.input,
.select {
  width: 100%;
  height: 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #767474;
  border-radius: 7px;
  text-align: center;
}

.button {
  margin-top: 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bookDetails {
  margin-left: 10px;
  text-align: left;
}

.bookImage {
  max-width: 100px;
}
